/* CSS for product page */
* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

section.main_content1 {
    background-color: #1b1b1d;
    background-size: 76%;
}

/* css for particular ipad details */


div.device-info {
    padding: 1em;
    text-align-last: center;
}


div.branding>h1,
p.pricing {
    text-align: left;

}

div.branding>h1 {
    color: goldenrod;
    font-size: 4em;
    font-family: "Cabin", sans-serif;
}

p.pricing {
    font-size: 2.0em;
    font-family: "Figtree", sans-serif;
}

div.ipad-assests {

    padding: 2em;
}

div.ipad-assests>img {
    width: 53.5em;
    height: 25em;
    box-shadow: 0px 0px 9px 0px #fedf78;
}

div.device-info {
    color: white;
    text-align: center;
}

div.ipad-details {
    display: flex;
    justify-content: space-around;
}

div.parent_size_con
{
    place-content: center;
}

div.varient>p {
    margin-top: 2em;
    font-family: "Platypi", serif;
    text-align: left;
    font-size: 1.5em;
}



div.size_text_1>p {
    font-size: 1.5em;
    font-family: "Platypi", serif;
}

div.size_guide {

    place-content: center;
    padding: 3em 0 1em 0;
    display: flex;
}

div.parent_size {
    padding-bottom: 1em;
}

div.size_chart>a {
    color: wheat;
    text-decoration: none;
    align-items: center;
    text-transform: none;
}

/* Storage size box css */


div.size_r1 {
    min-width: 7em;
    border: 1px solid wheat;
    font-family: "Figtree", sans-serif;

}

div.size_con_row1 {
    place-content: start;
    display: flex;
    font-weight: 600;
}

div.size_con_row1>img {
    width: 25em;
}

div.size_r1 {
    padding: 0.8em;
}

div.size_r1>a {
    font-size: 1.5em;
    font-weight: 600;
}

div.show_colors {
    place-content: center;
    padding: 1em 0 3em 0;
    display: flex;
}

div.color_opt {
    border: 1px solid wheat;
}

div.color_opt>a>img {
    width: 11.6em;
    display: flex;
}

div.user_interct div {
    padding: 1em;
    margin: 1em 0;
    background-color: #ae946d;
}

span.buy_now,
span.wishlist_div {
    box-shadow: 3px 3px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-color: #ae946d;
    margin-bottom: 1em;
}

span.buy_now>a,
span.wishlist_div>a {
    font-size: 2em;
    width: 100%;
    padding: 0.5em;
}

span.buy_now>a>img,
span.wishlist_div>a>img {
    width: 1.9em;
    padding: 0 0.2em;
    vertical-align: text-top;
}

span.buy_now:hover,
span.wishlist_div:hover {
    box-shadow: rgb(255, 255, 255) 3px 3px 6px;
    transition: box-shadow 0.5s ease;
}

div.size_r1>a {

    color: white;
    text-transform: none;
    text-decoration: none;
}

span.buy_now>a,
span.wishlist_div>a {
    color: white;
    text-transform: none;
    text-decoration: none;
}


div.preview_images {
    padding-top: 1em;
    display: flex;
}

div.preview_angles>img {
    width: 10em;
    display: flex;
}

div.preview_angles {
    margin: 0.5em;
    border: 1px solid wheat;
    background-color: black;
}

/* ------- css for responsive layout of website------- */

@media only screen and (max-width:1600px) {

    div.ipad-assests>img {
        width: 38.5em;
    }

    div.preview_angles>img {
        width: 11.2em;
    }

    div.preview_angles>img {
        width: 18.5em;
    }
}

@media only screen and (max-width:1440px) {}

@media only screen and (max-width: 1280px) {

    div.ipad-assests>img {
        width: 33.5em;
    }

    div.preview_angles>img {
        width: 7.4em;
    }

    div.color_opt>a>img {
        width: 7.6em;
    }

    div.ipad-assests {
        width: 60%;
    }

    div.device-info {
        width: 41%;
    }

    div.preview_angles>img {
        width: 15.9em;
    }

    /* CSS for Table */

    div.parent_size_con {
        display: flex;
    }


    div.size_con_row1 {

        display: flex;
        flex-direction: column;
        width: 50%;
    }



}

@media only screen and (max-width: 1024px) {

    /* CSS for background starts */

    section.main_content1 {
        background-size: 77%;

    }



    /* CSS for background ends */

    div.ipad-details {
        display: flex;
        flex-direction: column;
    }

    div.ipad-assests {
        width: 100%;
    }

    div.ipad-assests>img {
        width: 100%;
        /* height: 16em; */
    }

    div.preview_angles>img {
        width: 10.4em;
    }


    div.device-info {
        width: 100%;
    }

    div.color_opt>a>img {
        width: 12em;
    }

    div.row1-display {
        display: flex;
    }

    div.ipad-assests>img {
        width: 80%;
    }

}

@media only screen and (max-width: 850px) {
    
    
    div.preview_angles>img {
        width: 9.4em;
    }    

}

@media only screen and (max-width:769px) {


    div.preview_angles>img {
        width: 8em;
    }

    div.ipad-assests>img {
        width: 100%;
    }

}

@media only screen and (max-width: 640px) {

    div.preview_angles>img {
        width: 4.5em;
    }

    div.color_opt>a>img {
        width: 8em;
    }

    div.branding>h1 {
        font-size: 3em;
    }

    div.ipad-assests>img {
        height: 20em;
    }
        

}

@media only screen and (max-width: 426px) {

    div.color_opt>a>img {
        width: 6.2em;
    }

    div.preview_angles>img {
        width: 3em;
    }

    div.ipad-assests {
        padding: 1em;
    }

    div.branding>h1 {
        font-size: 1.9em;
    }

    p.pricing {
        font-size: 1.5em;
    }

    div.ipad-assests>img {
        height: 16em;
    }

}

@media only screen and (max-width: 320px) {}

/* css for responsivness ends */