*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header
{
    background-color: #171414;
    padding: 1em;
    display: flex;
    justify-content: center;
    font-family: "Cabin", sans-serif;
}

div.logo-div
{
    align-self: center;
    padding-right: 1em;
}

div.logo-div a img
{
    width: 1.4em;
}

nav.nav-main
{
    align-self: flex-end;
}

nav.nav-main menu
{
    display: flex;
    align-self: center;
}

nav.nav-main menu li
{
    list-style-type: none;
    padding: 0 0.5em;
}

nav.nav-main menu li a
{
    color: aliceblue;
    text-decoration: none;
}

div.show-ham, div.ham-menu
{
    display: none;
}

nav.nav-main menu li a img
{
    width: 1.5em;
}

/* CSS for header ends and masthead starts */

section.masthead-sec
{
    background-color: #000000;
    text-align: center;
    background-image: url('../Media/masthead.jpeg');
    position: relative;
    background-size: cover;
    height: 100vh;
    font-family: "Cabin", sans-serif;
}

div.overlay
{
    color: rgb(226, 230, 233);
    font-weight: bold;
    width: 100%;
    position: absolute;
    font-size: 2.5em;
    top: 2em;
}

div.overlay p
{
    margin-bottom: 1em;
}

span.overlay-button1 a,span.overlay-button2 a
{
    padding: 0.5em;
    font-size: 0.6em;
    background-color: #0071e3;
    border-radius: 30px;
    margin: 2em 1em;
    color: aliceblue;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}

span.overlay-button1 a:hover,span.overlay-button2 a:hover
{
    box-shadow: 0px 0px 15px 2px #0071e3;
}

/* Main Section for apple watch and Ipad*/


/* CSS For Watch and Ipad Air*/

section.watch-ipad,section.ipad-macbook
{
    display: flex;
    background-color: #efe7e7;
    /* padding: 0.3em; */
}

div.main-product1
{
    /* padding: 0.5em; */
    background-image: url('../Media/watch.jpg');
    margin: 0.4em 0.4em 0.4em 0.4em;
}

div.main-product1,div.main-product2
{
    width: 50%;
    position: relative;
    height: 80vh;
    background-size: cover;
}

div.main-product2
{
    background-image: url('../Media/ipad_air.jpg');
    margin: 0.4em 0.4em 0.4em 0em;
}

div.watch-overlay,div.ipad-overlay
{
    top: 4em;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 20;
}

div.watch-overlay-text
{
    place-content: center;
    color: aliceblue;
    margin-top: 1em;
    display: flex;
}

div.watch-overlay>p{
    color: aliceblue;
    font-size: 1.2em;
    font-family: "Figtree", sans-serif;
}

p.updated-ipad-info
{
    color: #1f1f1f;
    font-family: "Figtree", sans-serif;
    font-weight: 500;
}

div.ipad-overlay>img
{
    margin-bottom: 1em;
    font-size: 1.2em;
}

span.watch-overlay-button1 a,span.watch-overlay-button2 a
{
    margin-left: 1em;
    display: block;
    
    margin-top: 1em;
    color: aliceblue;
    text-decoration: none;

    padding: 0.5em;
    font-size: 1.1em;
    background-color: #0071e3;
    border-radius: 30px;

    font-family: "Figtree", sans-serif;
    transition: box-shadow 0.3s ease-in-out;

}

span.updated-button1 a,
span.updated-button2 a
{
    background-color: #171414;
}

span.watch-overlay-button1 a:hover,span.watch-overlay-button2 a:hover
{
    box-shadow: 0px 0px 15px 2px #0071e3;

}

/* CSS for ipad Pro and macbook pro */

div.main-productpro1,div.main-productpro2
{
    width: 50%;
    position: relative;
    height: 80vh;
    background-size: cover;
    font-family: "Figtree", sans-serif;

}

div.main-productpro1
{
    margin: 0 0.3em 0.3em 0.3em;
}
div.main-productpro1
{
    margin: 0 0.3em 0.3em 0.3em;
}

p.pro-phrase1
{
    color: #1f1f1f !important;
}

p.updated-ipadpro-info
{
    color: #efe7e7;
}

h2.ipad-pro-phrase
{
    color: #efe7e7;
}

div.main-productpro1
{
    background-image: url('../Media/macbook_pro.jpg');
}
div.main-productpro2
{
    background-image: url('../Media/ipad_pro.jpg');
}


/* Footer Css */

footer
{
    font-family: "Jost", sans-serif;
}

/* Footer first section Css */
section.footer-con,section.foot-con-links
{
    padding: 2em;
    background-color: #1f1f1f;
}

div.foot-heading
{
    width: 35%;
}

div.foot-heading>p
{
    font-size: 1.4em;
    color: #efe7e7;
    font-weight: 800;
}

div.foot-main-con
{
    background-color: #2e2e2e;
    padding: 2em;
    border-radius: 10px;
    margin-top: 1em;
}

div.foot-main-con>h5
{
    font-weight: 800;
    font-size: 1em;
    color: #efe7e7;
}
div.foot-main-con>p
{
    color: #b1b1b1;
}

p.payment-info
{
    margin-top: 1em;
}

/* footer Second section CSS */

section.foot-con-links
{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #b1b1b1;
    
}

div.web-links>nav>a
{
    text-decoration: none;
    color: #efefef;
}



div.web-links nav
{
    display: flex;
    flex-direction: column;
}

div.web-links nav h4
{
    font-size: 1.2em;
    font-weight: 600;
    color: #e5e5e5;
    margin-bottom: 1em;
}
/* Footer third section css */

section.legal-documentation
{
    padding: 2em;
    background-color: #2e2e2e;
    color: #e5e5e5;
}
section.legal-documentation a p
{
    margin-top: 0.5em;
}
section.legal-documentation a 
{
    
    color: #e5e5e5;
    text-decoration: none;
}